
body {
  overflow: hidden;
}
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.nodes rect {
  stroke: #fff;
  stroke-width: 1.5px;
}
header{
  background-color: #2196F3;
  width: 100%;
  position: absolute;
  padding: 10px;
  top:0px;
  height: 35px;
}
footer{
  width: 100%;
  position: absolute;
  padding: 10px;
  bottom:0px;
  height: 23px;
}
div#nodeSlider, div#linkSlider{
  display: inline-block;
  margin-right: 30px;
  width: 200px;
}
div#ratingSlider, div#yearSlider{
  display: inline-block;
  min-width: 50px;
  max-width: 150px;
  width: 60%;
}
header div.ui-widget{
  display: inline-block;
  width: 19.5%;
}
footer div.ui-widget{
  display: inline-block;
  width: 40%;
}
div.ui-widget label{
  width: 30%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 20px;
  max-width: 60px;
  text-align: right;
}
input#actor, input#director{
  min-width: 50px;
  max-width: 150px;
  width: 60%;
}

label#condition{
  position:fixed;
  top:200px;
  width:100%;
  color: #616161;
  font-size: 160px;
  text-align: center;
  font-weight: bolder;
  white-space: nowrap;
  overflow:hidden;
  background-color:rgba(255, 255, 255, 0.5);
  display: none;
}
label#resultInfo{
  position:fixed;
  top:80px;
  left:10px;
  width:80px;
  color: #616161;
  font-size: 50px;
  text-align: left;
  font-weight: bold;
  white-space: pre-wrap
}